on: [ workflow_dispatch ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Working
        uses: docker://alpine:latest
        with:
          args: sh -c "echo done"
          
      - name: Failing
        uses: docker://alpine:latest
        with:
          args: sh -c ${{ env.ARG }}
        env:
          ARG: 'echo done'
